
@{
    ViewBag.Title = "Work_PageLoad";
    Layout = "~/Views/Shared/LandingPage_Layout.cshtml";
}


<!-- freelance section -->
<section class="freelance_section ">
    <div id="accordion">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-5 offset-md-1">
                    <div class="detail-box">
                        <div class="heading_container">
                            <h2>
                                Work Freelaner Has Done
                            </h2>
                        </div>
                        <div class="tab_container">

                            <div class="t-link-box collapsed" data-toggle="collapse" data-target="#collapseThree"
                                 aria-expanded="false" aria-controls="collapseThree">
                                <div class="img-box">
                                    <img src="~/MainViewFiles/images/f3.png" alt="">
                                </div>
                                <div class="detail-box">
                                    <h5>
                                        count of Registered Users
                                    </h5>
                                    <h3>
                                        Worldwide Users
                                    </h3>
                                </div>
                            </div>
                            <div class="t-link-box collapsed" data-toggle="collapse" data-target="#collapseFour"
                                 aria-expanded="false" aria-controls="collapseFour">
                                <div class="img-box">
                                    <img src="~/MainViewFiles/images/f4.png" alt="">
                                </div>
                                <div class="detail-box">
                                    <h5>
                                        98%
                                    </h5>
                                    <h3>
                                        Customer <br>
                                        Satisfaction Rate
                                    </h3>
                                </div>
                            </div>

                            <div class="t-link-box collapsed" data-toggle="collapse" data-target="#collapseThree"
                                 aria-expanded="false" aria-controls="collapseThree">
                                <div class="img-box">
                                    <img src="~/MainViewFiles/images/f3.png" alt="">
                                </div>
                                <div class="detail-box">
                                    <h5>
                                        count of Registered Companies
                                    </h5>
                                    <h3>
                                        Companies Registered
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="collapse show" id="collapseOne" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="img-box">
                            <img src="~/MainViewFiles/images/freelance-img.jpg" alt="">
                        </div>
                    </div>
                    <div class="collapse" id="collapseTwo" aria-labelledby="headingTwo" data-parent="#accordion">
                        <div class="img-box">
                            <img src="~/MainViewFiles/images/freelance-img.jpg" alt="">
                        </div>
                    </div>
                    <div class="collapse" id="collapseThree" aria-labelledby="headingThree" data-parent="#accordion">
                        <div class="img-box">
                            <img src="~/MainViewFiles/images/slider-img.png" alt="">
                        </div>
                    </div>
                    <div class="collapse" id="collapseFour" aria-labelledby="headingfour" data-parent="#accordion">
                        <div class="img-box">
                            <img src="~/MainViewFiles/images/freelance-img.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end freelance section -->
